h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.hero_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.right_section {
    width: 80%;
}

.canvas{
    height: 500px!important;
}

@media only screen and (max-width: 992px) {
    h1 {
        font-size: 2.5rem;
    }

    .right_section{
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .hero_section{
        flex-direction: column-reverse;
        
    }

    .right_section {
        width: 100%;
    }

    .hero_section .left_section {
        text-align: center;
    }
}