.faq{
    margin-top: 150px;
}

.faq_container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.accordion_container{
    width: 75%;
    margin-top: 20px;
}

.canvas_faq {
    height: 550px !important;
    width: 500px !important;
}

@media only screen and (max-width: 992px) {
    .faq h2 {
        text-align: center;
    }

    .accordion_container{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 150px;
    }
    .canvas_faq {
        display: none;
    }
}