.picture_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.circle_image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #a1358375;
    position: relative;
}

.circle_image:first-child {
    left: 80px;
}

.circle_image:nth-child(2) {
    left: 250px;
    top: -60px;
}

.circle_image:last-child {
    left: 80px;
    top: -120px;
}

@media only screen and (max-width: 992px) {
    .picture_container {
        flex-direction: row;
        margin: 30px 0 100px 0;
    }

    .circle_image:first-child {
        left: 0px;
    }

    .circle_image:nth-child(2) {
        left: 0px;
        top: 100px;
    }

    .circle_image:last-child {
        left: 0px;
        top: 0px;
    }

}

@media only screen and (max-width: 768px) {
    .circle_image{
        width: 170px;
        height: 170px;
    }
}

@media only screen and (max-width: 576px) {
    .picture_container {
        flex-direction: column;
    }

    .circle_image:first-child {
        left: 10%;
    }

    .circle_image:nth-child(2) {
        left: 50%;
        top: 0px;
    }

    .circle_image:last-child {
        left: 10%;
        top: 0px;
    }

    
    .circle_image {
        width: 200px;
        height: 200px;
    }
}